{% extends "bootstrap/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
 <div class="container">
	<div class="jumbotron">
      <h1>Welcome to Word Cookies Cheat!</h1>
      <p>This example application allows you to find out all the possible words in the English language that can be made with a set of letters.</p>
    </div>
	
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1>WordCookies</h1>
	<form class="form form-horizontal" action="{{ url_for('wordcookies') }}" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.letters.label }}<br>
			{{ form.letters(size=32) }}<br>
			{% for error in form.letters.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
	
		<p>{{ form.submit() }}</p>
	</form>
</div>
{% endblock %}
