<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% endif %}
    </head>
    <body>
		<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
		{% endif %}
		{% endwith %}
		<h1>WordCookies</h1>
		<form action="{{ url_for('template') }}" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.letters.label }}<br>
				{{ form.letters(size=32) }}<br>
				{% for error in form.letters.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
		
			<p>{{ form.submit() }}</p>
		</form>
    </body>
</html>
